html {
    overflow: hidden;

  }
  
  .container {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 98vh;

  }
  
  .slide {
    min-width: 100vw;
    height: 98vh;
    outline: 1px solid lavender;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    background-color: khaki;
    position: relative;
  }
  
  p {
    
    font-size: 20rem;
  
  }
  
  .slide:first-child {
    background-color: lavender;

  }
  
  a {
   
    position: absolute;
    right: 10px;
    
    
  }

