/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
	display: grid;
	grid-gap: 2%;
}
/* hack to make images flexible in our prototype */
div img {
	width: 100%;
	max-width: 250px; 
}
/* grid system */



.r1c1, .r1c2, .r1c3, .r1c4 {
	background-color: #ffc;
}


.r5c2, .r3c2 {
	background-color: #fcf;
}
.r4c1 {
	background-color: #cff;
}

/* global alignment options */
.reverse {
	flex-direction: row-reverse;
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
	.wrapper{
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(5, auto);
	}

	.r1c1 {
		grid-column: 1/3;
		grid-row: 1/2;
	}
	
	.r1c2 {
		grid-column: 3/5;
		grid-row: 1/2;
	}
	
	.r1c3 {
		grid-column: 1/3;
		grid-row: 2/3;
	}
	
	.r1c4 {
		grid-column: 3/5;
		grid-row: 2/3;
	}

	.r2c1 {
		grid-column: 1/3;
		grid-row: 3/4;

	}
	
	.r2c2 {
		grid-column: 3/5;
		grid-row: 3/4;
	}

	.r3c1 {
		grid-column: 1/3;
		grid-row: 4/5;

	}
	
	.r3c2 {
		grid-column: 3/5;
		grid-row: 4/5;
	}

	.r4c1 {
		grid-column: 1/5;
		grid-row: 5/6;

	}
	
	.r5c1 {
		grid-column: 1/5;
		grid-row: 6/7;
	}

	.r5c2 {
		grid-column: 1/5;
		grid-row: 7/8;
	}

	.r5c3 {
		grid-column: 1/5;
		grid-row: 8/9;
	}
}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {

	
	.r1c1 {
		grid-column: 1/2;
		grid-row: 1/2;
	}
	
	.r1c2 {
		grid-column: 2/3;
		grid-row: 1/2;
	}
	
	.r1c3 {
		grid-column: 3/4;
		grid-row: 1/2;
	}
	
	.r1c4 {
		grid-column: 4/5;
		grid-row: 1/2;
	}

	.r2c1 {
		grid-column: 1/3;
		grid-row: 2/3;
	}
	
	.r2c2 {
		grid-column: 3/5;
		grid-row: 2/3;
	}

	.r3c1 {
		grid-column: 1/2;
		grid-row: 3/4;
	}
	
	.r3c2 {
		grid-column: 2/5;
		grid-row: 3/4;
	}

	.r4c1 {
		grid-column: 1/5;
		grid-row: 4/5;
	}
	
	.r5c1 {
		grid-column: 1/2;
		grid-row: 5/6;
	}

	.r5c2 {
		grid-column: 2/4;
		grid-row: 5/6;
	}
	
	.r5c3 {
		grid-column: 4/5;
		grid-row: 5/6;
	}

}

